<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <add key="servicesUri" value="http://183.82.103.139:8081/DoyenBizAPI/Services"/>
    <add key="kioskID" value="101"/>
    <add key="imageToSendPath" value="C:\Users\prpogu\Source\Repos\DoyenBiz\DoyenBiz.BankingKiosk\DoyenBiz.BankingKiosk\Resources\Images\kishanImage.jpg"/>
    <add key="cardNumber" value="10001"/>
  </appSettings>
</configuration>
